{% extends 'donors/base.html' %}
{% block content %}
    <form  method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button onclick="getLocation()", class="btn btn-info">Get Location</button>
        <button type="submit" value="Submit">Submit</button>
    </form>
    <script>
    latitude = document.getElementById("id_latitude");
    longitude = document.getElementById("id_longitude");
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
            console.log("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position){
        latitude.setAttribute("value",position.coords.latitude);
        longitude.setAttribute("value",position.coords.longitude);
    }
    </script>
{% endblock content %}